


body {
  background-color: #A2AAB6;
}

.green-background {
  background-color: lightgreen;
}
.yellow-background {
  background-color: lightyellow;
}
.red-background {
  background-color: pink;
}

.jumbotron h1 {
  text-align: center;
}

.button-bar {
  text-align: center;
  margin-bottom: 5px;
}

.btn {
  height:40px;
  color: black;
  font-size: 18px;
  background-color: lightgrey;
  border-color: darkgreen;
}

.button-bar2 h3 {
  font-family: fantasy;
  font-weight: bold;
}

.row {
  margin-bottom: 10px;
  display: none;
}

.row img {
  height: 100px;
}

.row1 .col-xs-2 {
  height: 120px;
}


.row2 .col-xs-2 {
  height: 120px;
}


.row3 .col-xs-2 {
  height: 120px;
}


.row4 .col-xs-2 {
  height: 120px;
}
