body {
  background-color: #A2AAB6;
}

.jumbotron h1 {
  text-align: center;
}

.button-bar1 {
  text-align: center;
  margin-bottom: 10px;
}

.button-bar2 {
  text-align: center;
  margin-bottom: 30px;
}

.btn {
  height:40px;
  color: black;
  font-size: 18px;
  background-color: lightgrey;
  border-color: darkgreen;
}

/* buttons! */
#allon {

}
#something {

}
#alloff {

}
#showboard {

}
#resetpage {

}
#addrow {
  
}

.row {
  margin-bottom: 10px;
}

.row1 img {
  height: 100px;
}

.row1 .col-xs-2 {
  height: 120px;
}

.row2 img {
  height: 100px;
}

.row2 .col-xs-2 {
  height: 120px;
}

.row3 img {
  height: 100px;
}

.row3 .col-xs-2 {
  height: 120px;
}

.row4 img {
  height: 100px;
}

.row4 .col-xs-2 {
  height: 120px;
}
