.jumbotron h1 {
  text-align: center;
}

.button-bar {
  text-align: center;
  margin-bottom: 30px;
}

.btn-primary {
  height: 60px;
}

.btn-warning {
  height: 60px;
}

.btn-success {
  height: 60px;
}

.btn-info {
  height: 60px;
}

.row {
  margin-bottom: 10px;
}

.row1 img {
  height: 100px;
}

.row1 .col-xs-2 {
  height: 120px;
}

.row2 img {
  height: 100px;
}

.row2 .col-xs-2 {
  height: 120px;
}

.row3 img {
  height: 100px;
}

.row3 .col-xs-2 {
  height: 120px;
}

.row4 img {
  height: 100px;
}

.row4 .col-xs-2 {
  height: 120px;
}
